/*
  Script for responsive,
  ex. for media queries
*/

/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .ketua {
    width: 50%;
    margin: auto;
    box-sizing: border-box;
  }

  .members {
    margin-top: 60px;
  }

  .members .atas {
    margin-top: 40px;
  }

  .members .atas,
  .members .bawah {
    float: left;
    width: 100%;
  }
  .member {
    width: 50%;
    margin: 50px 0px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-logo{
    padding: 0 20px;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .ketua {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }

  .members {
    margin-top: 60px;
  }

  .member {
    width: 100%;
    margin: 50px 0px;
  }

  .header-list {
    display: none;
  }

  .contact-form {
    text-align: center;
  }
  .contact-submit {
    margin: auto;
  }

  .feature {
    width: 100%;
    margin: 20px;
  }
}
